[Unit]
Description=Slow Movie Player Service

[Service]
User=pi
WorkingDirectory=/home/pi/slow-movie
ExecStart=/usr/bin/python3 /home/pi/slow-movie/slowmovie.py --file Videos/shinning.mp4 --delay 30 --increment 2 --loop --service 

[Install]
WantedBy=multi-user.target
